.footer{
  & > main{
    width: 100%;
    background-color: var(--grey-100-color);

    & > div:first-child{
      display: flex;
      padding: 4rem 4rem;
      max-width: 1280px;
      margin: 0 auto;
      justify-content: space-between;

      & > div:nth-child(1){
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        & > img {
          max-width: 152px;
        }

        & > div{
          display: flex;
          gap: 2.5rem;
          
          & > a>  svg{
            height: 20px;
            width: 20px;
            color: var(--blue);
            transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;

            &:hover{
              cursor: pointer;
              filter: drop-shadow(0 0 8px rgba(0, 153, 255, 0.7)); 
              transform: scale(1.05); 
            }
          }
        }
      }

      & > div:nth-child(2){
        display: flex;
        gap: 6.875rem;

        transition: all 250ms linear;

        & h4 {
          font: bold .875rem/1.75rem var(--font-nunito-sans);
          color: var(--black-color);
          
          & > button{
            display: none;
          }
        }

        & h5{
          font: 400 .875rem/1.75rem var(--font-nunito-sans);
          color: var(--gray-dark-700);
          &:hover{
            cursor: pointer;
            text-decoration: underline;
          }
        }

        & p{
          font: 400 .75rem/1.25rem var(--font-nunito-sans);
          color: var(--gray-dark-700);
        }
      }
    }
  }

  & > div{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 1280px;
    padding: 2.5rem 6rem;
    margin: 0 auto;

    & > p{
      text-align: center;
      
      font: 400 .75rem/1.25rem var(--font-nunito-sans);
      color: var(--gray-dark-700);
    }

    & > div{
      display: flex;
      justify-content: center;
      gap: 3rem;
      align-items: center;

      & > div:first-child{
        display: flex;
        gap: 1.5rem;
        align-items: center;

        & svg, img{
          height: 30px;
        }
      }
      & > div:nth-child(2){
        display: flex;
        gap: 1.5rem;
        align-items: center;
      }
    }
  }
}

#payments{
  display: flex;
  max-width: 1280px;
  margin-inline: auto;
  padding-bottom: 4rem;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 480px){

  .footer{

    & > main{
      width: 100%;
  
      & > div:first-child{
        display: flex;
        flex-direction: column;

        padding: 2rem 0;

        & > div{
          display: flex;
          gap: .5rem;
          flex-direction: column;
        }

        & > div:nth-child(1){
          margin-bottom: 2rem;
          align-items: center;
        }

        & > div:nth-child(2){
          display: grid;
          grid-template-columns: 1;
          gap: .5rem;
          width: 100%;
          border-top: 1px solid var(--grey-600-color);

          & > div{
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid var(--grey-600-color);

            & > h4{
              display: flex ;
              justify-content: space-between;
              align-items: center;
            }

            & > h4 > button{
              display: flex;
              border: none;
              outline: none;
              background-color: transparent;

              color: var(--blue);
            }

            & > h5, > p{
              display: none;
            }
          }
        }
      }
    }

    & > div{
      padding: 2.5rem;
      padding-bottom: 4rem;

    & > p{
      text-align: center;
      
      font: 400 .75rem/1.25rem var(--font-nunito-sans);
      color: var(--gray-dark-700);
    }

      & > div{
        display: flex;
        justify-content: center;
        gap: 3rem;
        align-items: center;

        & > div:first-child{
          display: flex;
          gap: 1.5rem;
          align-items: center;
        }
        & > div:nth-child(2){
          display: flex;
          gap: 1.5rem;
          align-items: center;
        }
      }
    }
  }

  #payments{
    display: grid;
    grid-template-columns: repeat(9,1fr); /* Colunas responsivas */
    grid-template-rows: repeat(2,1fr); /* Linhas automáticas */
    width: fit-content;
    gap: 0;
    row-gap: 1.25rem;
    
    margin-inline: auto;

    & > svg{
      height: 20px;
    } 

    & > svg:nth-child(1) { grid-column: 1; grid-row: 1; }
    & > svg:nth-child(2) { grid-column: 3; grid-row: 1; }
    & > svg:nth-child(3) { grid-column: 5; grid-row: 1; }
    & > svg:nth-child(4) { grid-column: 7; grid-row: 1; }
    & > svg:nth-child(5) { grid-column: 9; grid-row: 1; }
  
    & > svg:nth-child(6) { grid-column: 2; grid-row: 2; }
    & > svg:nth-child(7) { grid-column: 4; grid-row: 2; }
    & > svg:nth-child(8) { grid-column: 6; grid-row: 2; }
    & > svg:nth-child(9) { grid-column: 8; grid-row: 2; }
  }

  #services-footer > div h4 button {
    transition: transform 0.3s ease;
  }
  
  #services-footer div h4.active button {
    transform: rotate(-180deg);
  }
}